<a href="https://colab.research.google.com/github/vdhinaka/PythonDeepDive/blob/master/Sequences/02%20-%20Mutable%20Sequence%20Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Mutable Sequences

When dealing with mutable sequences, we have a few more things we can do - essentially adding, removing and replacing elements in the sequence.

This **mutates** the sequence. The sequence's memory address has not changed, but the internal **state** of the sequence has.

#### Replacing Elements

We can replace a single element as follows:

In [7]:
l = [1, 2, 3, 4, 5]
print(id(l))
l[0] = 'a'
print(id(l), l)

140545381055552
140545381055552 ['a', 2, 3, 4, 5]

We can remove all elements from the sequence:

In [8]:
#l = [1, 2, 3, 4, 5]
l.clear()
print(l)
print(id(l))

[]
140545381055552

Note that this is **NOT** the same as doing this:

In [ ]:
l = [1, 2, 3, 4, 5]
l = []
print(l)

[]

The net effect may look the same, `l` is an empty list, but observe the memory addresses:

In [9]:
l = [1, 2, 3, 4, 5]
print(id(l))
l.clear()
print(l, id(l))

140545186727936
[] 140545186727936

vs

In [ ]:
l = [1, 2, 3, 4, 5]
print(id(l))
l = []
print(l, id(l))

1979932699144
[] 1979932698824

In [13]:
s = 'python'
result = s.find('c++')
print(result)
if s.find('c++'):
    print('found c++')

-1
found c++

In the second case you can see that the object referenced by `l` has changed, but not in the first case.

Why might this be important?

Suppose you have the following setup:

In [ ]:
suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs']
alias = suits
suits = []
print(suits, alias)

[] ['Spades', 'Hearts', 'Diamonds', 'Clubs']

But using clear:

In [ ]:
suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs']
alias = suits
suits.clear()
print(suits, alias)

[] []

Big difference!!

We can also replace elements using slicing and extended slicing. Here's an example, but we'll come back to this in a lot of detail:

In [ ]:
l = [1, 2, 3, 4, 5]
print(id(l))
l[0:2] = ['a', 'b', 'c', 'd', 'e']
print(id(l), l)

1979932698504
1979932698504 ['a', 'b', 'c', 'd', 'e', 3, 4, 5]

#### Appending and Extending

We can also append elements to the sequence (note that this is **not** the same as concatenation):

In [ ]:
l = [1, 2, 3]
print(id(l))
l.append(4)
print(l, id(l))

1979932697992
[1, 2, 3, 4] 1979932697992

If we had "appended" the value `4` using concatenation:

In [ ]:
l = [1, 2, 3]
print(id(l))
l = l + [4]
print(id(l), l)

1979932193288
1979932698312 [1, 2, 3, 4]

If we want to add more than one element at a time, we can extend a sequence with the contents of any iterable (not just sequences):

In [ ]:
l = [1, 2, 3, 4, 5]
print(id(l))
l.extend({'a', 'b', 'c'})
print(id(l), l)

1979932844488
1979932844488 [1, 2, 3, 4, 5, 'c', 'b', 'a']

Of course, since we extended using a set, there was not gurantee of positional ordering.

If we extend with another sequence, then positional ordering is retained:

In [ ]:
l = [1, 2, 3]
l.extend(('a', 'b', 'c'))
print(l)

[1, 2, 3, 'a', 'b', 'c']

#### Removing Elements

We can remove (and retrieve at the same time) an element from a mutable sequence:

In [ ]:
l = [1, 2, 3, 4]
print(id(l))
popped = l.pop(1)
print(id(l), popped, l)

1979932193288
1979932193288 2 [1, 3, 4]

If we do not specify an index for `pop`, then the **last** element is popped:

In [ ]:
l = [1, 2, 3, 4]
popped = l.pop()
print(popped)
print(id(l), popped, l)

4
1979932696968 4 [1, 2, 3]

#### Inserting Elements

We can insert an element at a specific index. What this means is that the element we are inserting will be **at** that index position, and element that was at that position and all the remaining elements to the right are pushed out:

In [ ]:
l = [1, 2, 3, 4]
print(id(l))
l.insert(1, 'a')
print(id(l), l)

1979932143176
1979932143176 [1, 'a', 2, 3, 4]

#### Reversing a Sequence

We can also do in-place reversal:

In [ ]:
l = [1, 2, 3, 4]
print(id(l))
l.reverse()
print(id(l), l)

1979930587080
1979930587080 [4, 3, 2, 1]

We can also reverse a sequence using extended slicing (we'll come back to this later):

In [16]:
l = [1, 2, 3, 4]
print(id(l))
l[::-1]
print(id(l))
print(l)

140545096800128
140545096800128
[1, 2, 3, 4]

But this is **NOT** mutating the sequence - the slice is returning a **new** sequence - that happens to be reversed.

In [15]:
l = [1, 2, 3, 4]
print(id(l))
l = l[::-1]
print(id(l), l)

140545096798784
140545096800448 [4, 3, 2, 1]

#### Copying Sequences

We can create a copy of a sequence:

In [ ]:
l = [1, 2, 3, 4]
print(id(l))
l2 = l.copy()
print(id(l2), l2)

1979932700040
1979932696968 [1, 2, 3, 4]

Note that the `id` of `l` and `l2` is not the same.

In this case, using slicing does work the same as using the `copy` method:

In [ ]:
l = [1, 2, 3, 4]
print(id(l))
l2 = l[:]
print(id(l2), l2)

1979932847304
1979932700040 [1, 2, 3, 4]

As you can see in both cases we end up with new objects.

So, use copy() or [:] - up to you, they end up doing the same thing.

We'll come back to copying in some detail in an upcoming video as this is an important topic with some subtleties.